# ==================================
# ARQUIVOS DE DADOS (IMPORTANTE)
# ==================================
# Nunca envie dados para o Git. Use .gitkeep se quiser
# manter as pastas 'raw' e 'processed' vazias.
data/processed/*
data/raw/*

models

erros

restultados

notebooks
# ==================================
# MODELOS (IMPORTANTE)
# ==================================
# Modelos treinados são grandes e não devem ser versionados.
# O '!' é uma EXCEÇÃO para o seu modelo pré-treinado.
models/*
!models/meu_modelo_pre_treinado.h5

# ==================================
# CACHE E ARTEFATOS DO PYTHON
# ==================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================
# AMBIENTES VIRTUAIS (VENV / CONDA)
# ==================================
# Nunca versionar o ambiente
.venv/
venv/
env/
*.env
.env

# ==================================
# Arquivos .sh para configuração
# ==================================
SetupProjeto.sh
SuperExecute-amd-512.sh
SuperExecute-gpu-8-v100.sh


# ==================================
# NOTEBOOKS JUPYTER
# ==================================
# Ignora os checkpoints automáticos
.ipynb_checkpoints/

# ==================================
# CONFIGURAÇÃO DE EDITOR (VS CODE)
# ==================================
# Ignora configurações de usuário, mas permite
# configurações de projeto (launch.json)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# ==================================
# ARQUIVOS DE LOG E TEMPORÁRIOS
# ==================================
*.log
*.tmp
*.temp

# ==================================
# ARQUIVOS DE SISTEMA (MAC/WINDOWS)
# ==================================
.DS_Store
Thumbs.db
